{% extends "layout.html" %}


{% block content %}
{% include 'message.html' %}
<!--
	TIPS about using Bootstrap-Flask:
	https://github.com/helloflask/bootstrap-flask
	https://bootstrap-flask.readthedocs.io/
-->
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
      <h1 class="pt-5 pb-2">Welcome to the best militares Flask example!</h1>
      <form action="{{ url_for('inserirmilitar') }}" method="post" enctype="multipart/form-data">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="fupload">Foto</label>
              <input type="file" class="form-control" id="fupload" name="fupload" />
            </div>
          </div>
          <div class="col-md-9">
            <div class="form-group">
              <label for="txtNIM">NIM</label>
              <input type="input" class="form-control" id="txtNIM" name="txtNIM" placeholder="Identificação">
            </div>
            <div class="form-group">
              <label for="txtCC">CC</label>
              <input type="input" class="form-control" id="txtCC" name="txtCC" placeholder="CC">
            </div>
            <div class="form-group">
              <label for="txtNome">Nome</label>
              <input type="input" class="form-control" id="txtNome" name="txtNome" placeholder="Nome">
            </div>
            <div class="form-group">
              <label for="txtApelido">Apelido</label>
              <input type="input" class="form-control" id="txtApelido" name="txtApelido" placeholder="Apelido">
            </div>
            <div class="form-group">
              <label for="txtPatente">Patente</label>
              <select id="txtPatente" name="txtPatente" onchange="update_selected_option_value(this.value)">
                <option value=''></option>
                {% for patente in patentes %}
                <option value="{{ patente.ID }}">{{ patente.Nome }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="txtIdade">Idade</label>
              <input type="input" class="form-control" id="txtIdade" name="txtIdade" placeholder="Idade">
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <a href="{{url_for('militares')}}" class="btn btn-danger" role="button">Cancelar</a>
      </form>
      <p class="pt-5"><strong>{{ message }}</strong></p>
    </div>
  </div>
</div>
<script>
  function update_selected_option_value(value) {
    document.getElementById('txtPatente').value = value;
  }
</script>
{% endblock %}