{% extends "layout.html" %}

{% block title %}
Selected Militar: {{ nim }}
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 ps-md-5">
      <!-- note, the id is not used in the template -->
      <h1 class="pt-5 pb-2">Militar: {{ militar.NIM }}</h1>
      <p>
        <a href="{{ url_for('militares')}}" class="btn btn-primary" role="button">Return to Militares page</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>ID: {{ militar.ID }}</p>
    </div>
    <div class="col-md-6">
      <a href={{ t.FotoUrl() }} download>
        <img width="100" height="90" src={{ t.FotoUrl() }}>
      </a>
    </div>
    <div class="col-md-6">
      <p>NIM: {{ militar.NIM }}</p>
    </div>
    <div class="col-md-6">
      <p>CC: {{ militar.CC }}</p>
    </div>
    <div class="col-md-6">
      <p>Nome: {{ militar.Nome }}</p>
    </div>
    <div class="col-md-6">
      <p>Apelido: {{ militar.Apelido }}</p>
    </div>
    <div class="col-md-6">
      <p>Patente: {{ patente.Nome }}</p>
    </div>
    <div class="col-md-6">
      <p>Idade: {{ militar.Idade }}</p>
    </div>
  </div>
</div>
{% endblock %}